*.DS_Store.android
*.idea
*.iml
.gradle
local.properties.android

.project
.settings
.classpath

**/Pods/
**/*.xcuserstate
ios-snippets/Podfile.open
ios-snippets/rtions of this software was origin

software copyright (c) 1999-2002
software copyright (c) 2001-2002
software copyright (c) 2003, IBM

http://www.lotus.com.

http://www.sun.com.

http://www.ibm.com.-snippets.xcworkspace/xcuserdata/dfurlong.xcuserdatad/UserInterfaceState.xcuserstate
