<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.mlkit.samples.codescanner"
    tools:overrideLibrary="com.google.android.gms.base">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:icon="@drawable/logo_mlkit"
      android:label="@string/app_name"
      android:taskAffinity=""
      android:theme="@style/AppTheme">

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="barcode_ui"/>

    <activity
        android:name=".EntryChoiceActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".java.MainActivity"
        android:exported="false" />

    <activity
        android:name=".kotlin.MainActivity"
        android:exported="false" />

  </application>
</manifest>
