<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.mlkit.samples.languageid">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.google.mlkit.samples.languageid.java.MainActivity"
            android:theme="@style/MaterialAppTheme" />
        <activity
            android:name="com.google.mlkit.samples.languageid.kotlin.MainActivity"
            android:theme="@style/MaterialAppTheme" />
        <activity
            android:name="com.google.mlkit.samples.languageid.EntryChoiceActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/MaterialAppTheme" />
    </application>


</manifest>